---
import Section from "@/components/Section.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import AddPath from "@/components/react/AddPath";

export const getStaticPaths = ( async () => {
    const languages = await getCollection("languages");
    const paths = languages.map((language:CollectionEntry<"languages">) => {
        return {
            params: {
                slug: language.slug
            },
            props: {
                language
            }
        }
    })  
    
    return paths
 
}) satisfies GetStaticPaths; 

const { language }: {language: CollectionEntry<"languages">} = Astro.props;
const { Content } = await language.render(); 
---

<BaseLayout head={{title: "" , description: "no description"}} >
    <Section>

        <div class="flex flex-col items-center md:flex-row justify-between gap-5 lg:gap-10">
            <div class="flex flex-row gap-4">
                <Image 
                    width={60}
                    height={60}
                    src={language.data.image}
                    alt=""
                />
    
                <div class="flex flex-col">
                    <h1 class="text-gray-700  text-[50px] font-bold"> {language.data.name}  </h1>
    
                    <p class="text-sm text-gray-400 font-semibold max-w-[500px]"> {language.data.description} </p>
                </div>
            </div>

            <AddPath client:load path={language.data.name} type="language" />
        </div>

        <div class="prose prose-lg overflow-visible relative py-20 w-full">
            <Content />
        </div>
        
    </Section>
</BaseLayout>