---
import Section from "@components/Section.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"
import AddPath from "@components/react/AddPath"
import { Code } from "astro:components";

export const getStaticPaths =  ( async () => {
    const careerPaths = await getCollection("paths");
    const paths = careerPaths.map((path: CollectionEntry<"paths">) => {
        return {
            params : {
                slug: path.slug
            },
            props: {
                path
            }
        }
    })
    return paths;
})

type Props = {
    path: CollectionEntry<"paths">
}

const { path }  = Astro.props;
const { Content } = await path.render();

---                                                
<BaseLayout head={{title: "" , description: "no description"}} >
    <Section>

        <div class="flex flex-col items-center md:flex-row justify-between gap-5 lg:gap-10 pb-4">
            <div class="flex flex-row gap-4">
                <Image 
                    width={60}
                    height={60}
                    src={path.data.image}
                    alt=""
                />
    
                <div class="flex flex-col">
                    <h1 class="text-gray-700  text-[50px] font-bold"> {path.data.name}  </h1>
    
                    <p class="text-sm text-gray-400 font-semibold max-w-[500px]"> {path.data.description} </p>
                </div>
            </div>

            <AddPath client:load path={path.data.name} type="path" />
            
        </div>

        <div class="prose prose-lg overflow-visible relative py-20 w-full">
            <Content />
        </div>
        
    </Section>
</BaseLayout>