---
import Section from "@components/Section.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"

export const getStaticPaths =  ( async () => {
    const careerPaths = await getCollection("paths");
    const paths = careerPaths.map((path: CollectionEntry<"paths">) => {
        return {
            params : {
                slug: path.slug
            },
            props: {
                path
            }
        }
    })
    return paths;
})

type Props = {
    path: CollectionEntry<"paths">
}

const { path }  = Astro.props;
const { Content } = await path.render();
console.log(path)

---                                                
<BaseLayout head={{title: "" , description: "no description"}} >
    <Section>
        
    
    </Section>
</BaseLayout>