---
import { getCollection, type CollectionEntry } from "astro:content"
import BranchCard from "./BranchCard.astro"
import Section from "./Section.astro"

const paths = await getCollection("paths");

---
    <Section>
    <div class="flex flex-col gap-1 py-3 pb-5 px-2">
        <h1 class="dark:text-gray-600 text-gray-700  text-[60px] font-bold">Coding <span class="text-orange-600">Branches</span></h1>
        
    </div>

    <div class="flex flex-wrap gap-3 mx-auto ">
        {paths.map((path: CollectionEntry<"paths">) => (
            <BranchCard key={path.id} path={path} />
        ))}
    </div>
    </Section>

    