---

const { path } = Astro.props
const tags = ["php", "cpp" , "c" ,"c","javascript", "cpp" , ]
---

<a href={`/paths/${path.slug}`} class="w-full md:max-w-[300px] min-h-[400px] py-5 pt-10 gap-4 px-2 bg-gray-50 border dark:border-none dark:bg-stone-800 z-2 relative rounded-md flex items-center flex-col font-mono hover:shadow-md transition-all">
    <img 
    width={40}
    height={40}
    src={path.data.image}
    alt=""
    />    
    <h1 class="text-xl font-semibold">{path.data.name}</h1>

    <p class="text-center text-sm dark:text-gray-400">here goes description Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consectetur tempora dolores sunt suscipit corporis ullam qui modi voluptatibus eaque.</p>

    <ul class="flex justify-center flex-wrap gap-2 py-4 border-t dark:border-t-gray-600">
        {tags.map((tag) => (
            <li class="text-xs px-3 py-1 border rounded-md bg-gray-100 dark:bg-stone-600 dark:border-none">  {tag} </li>
        ))}
    </ul>


</a>