---
import { Image } from 'astro:assets';
import Section from './Section.astro';

const site = Astro.site;

const stephs = [
    {
        name: "Programming Branch",
        image: "/images/branch.svg"
    },
    {
        name: "Coding Language",
        image: "/images/code.svg"
    },
    {
        name: "Framework",
        image: "/images/framework.svg"

    }
]
---

<Section>
	<br />
    
    <div class="flex flex-row w-full gap-4">
        <div class="flex-1 py-5 px-3 rounded-md backdrop-blur-2xl relative border bg-gray-50 dark:bg-stone-800 dark:border-black h-fit">
            <p class="pb-2 pt-6 text-4xl font-bold">Let's <span class="text-orange-600">start</span> from Here </p>
            <div class="text-[15] font-semibold text-neutral-500 max-w-[800px] w-full py-4">
            Struggling to navigate the vast world of programming? Our website is your ultimate guide to exploring different programming disciplines and building a successful career. Whether you're a beginner or an experienced programmer looking for a new direction, we're here to help you find your ideal programming path.
            </div>
    
        </div>
    
        <div class="flex flex-col gap-4 relative pl-4">

            <div class="absolute left-0 h-full w-1 bg-orange-700 rounded-full"></div>
    
            {stephs.map((steph, idx) => (
                <div class="flex items-center border dark:border-none justify-center flex-col gap-2 text-center p-3 rounded-md font-mono text-xs font-bold bg-white dark:bg-stone-800 relative"> 
                    <div class="flex items-center justify-center absolute -left-4 w-6 h-6 bg-orange-700 rounded-r-lg font-mono text-sm"> {idx + 1} </div>

                    <div class="p-2 rounded-full dark:bg-gray-200 border dark:border-none">
                        <Image 
                        width={20}
                        height={20}
                        src={steph.image}
                        alt=""
                    />
                    </div>

                    {steph.name}
                </div>
            ))}
    
        </div>
    </div>


	
</Section>
