---
import { Image } from "astro:assets";

const { language } = Astro.props
--- 

<a href={`/languages/${language.slug}`} class="w-full md:max-w-[300px] h-fit py-10 pt-10 gap-4 px-2 bg-gray-50 border dark:border-none dark:bg-stone-800 z-2 relative rounded-md flex items-center flex-col  hover:shadow-md transition-all">
    
    <div class="p-5 rounded-full dark:bg-gray-400 border dark:border-none">
        <Image
        width={30}
        height={30}
        src={language.data.image}
        alt=""
    />
    </div>
    
    <h1 class="text-xl font-semibold underline font-mono ">{language.data.name}</h1>

    <p class="text-center text-sm font-bold text-gray-500 dark:text-gray-400">here goes description Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente consectetur tempora dolores sunt suscipit corporis ullam qui modi voluptatibus eaque.</p>
</a>
