---
import SelectedPath from "./react/SelectedPath";
import Section from "./Section.astro";
---

<Section>
    <div class="flex px-4 flex-col lg:flex-row lg:items-center gap-10 justify-between z-10 relative">
      <div class="text-[30px] font-bold">
        <a href="/">
          <span class="pr-2 text-xl text-gray-500">{"<"}</span>paper<span
            class="text-orange-600">.</span
          >notes<span class="pl-2 text-2xl text-gray-500">{"/>"}</span></a
        >
      </div>
      
      <SelectedPath client:load />
    </div>

</Section>
