---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import Card from "./Card.astro";

export type Props = {
  options: {
    collection: "languages" | "paths";
    title: string;
  };
};
const { options } = Astro.props;

const renderItems = await getCollection(options.collection);
const splitedTitle = options.title.split(" ");

---

<Section> 
  <div class="flex flex-col gap-1 py-3 pb-5 px-2">
    <h1 class="dark:text-gray-600 text-gray-700 text-[60px] font-bold">
      {splitedTitle[0]}
      <span class="text-orange-600"> {splitedTitle[1]} </span>
    </h1>
  </div>

  <div class="flex flex-wrap gap-3 mx-auto ">
    {renderItems.map(({ data }) => (
      <Card 
            collection={options.collection}
            data={data}
      />
    ))}
  </div>
</Section>
